@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GoogleFont';
  src: url('./assets/Fonts/ProductSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'GoogleFont', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
